/* ================================= 
  Base Element Styles
==================================== */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html {
	font-size: 1.25em
}
body {
	font-family: 'Work Sans', sans-serif;
	line-height: 1.6;
	color: #58595b;
	background-color: #f1f2f2;
	padding-bottom: 1.5em;

}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

p {
	font-size: .75em;
	margin-bottom: 1.8em;
	padding: 0 .5em;
	text-align: center;
}
h1 {
	color:#58595b;
}
h1,
h2,
h3,
a {
	color: rgb(41, 73, 129);
}
h2 {
	font-size: .75em;
	margin-top: 1em;
	font-weight: 600;
	text-transform: uppercase;
}

h3 {
	font-size: .75em;
	margin-top: 1em;
	font-weight: 300;
}
a {
	text-decoration: none;
}
img {
	max-width: 100%;
}

/* ================================= 
  Base Layout Styles
==================================== */

/* ---- Navigation ---- */
.top {
	display: none;
}
.full {
	display: inline-block;
margin-left: 20px;
}
.name {
	font-size: 1.35em;
	font-weight: 600;
}
.main-nav {
	margin-top: 5px;
	background-color: #f1f2f2;
}
.body-nav a {
	font-size: .75em;
	display: block;
	font-weight: bold;
	color:darkslategrey;
	text-transform: uppercase;
	margin: 3em .5em;
}
.main-nav a {
	font-size: .75em;
	display: block;
	font-weight: bold;
	color:darkslategrey;
	text-transform: uppercase;
	background-color: white;
	margin: .25em 0;
	padding: .75em 0 .75em 0;
}
.main-nav a:hover {
	color: #093a58;
}

/* ---- Layout Containers ---- */
.main {
	width: 70%;
	margin: 0 auto;
}
.wrapper {
	width: 90%;
	margin: 0 auto;
	text-align: center;
}
.main-header {
	padding-top: .5em;
	padding-bottom: .5em;
}
.portfolio {
	background-color: white;
	width: 100%;
	padding: .5em 0 .5em 0; 
	margin: 0;
	text-align: center;
}
.portfolio ul {
	padding-left: 1em;
	padding-right: 1em;
}

.footer {
	padding-bottom: 1.5em;
}
.contact-container {
	background: #f1f2f2;
	width: 70%;
    text-align: center;
    margin: 0 auto;

}
.footer {   
	display: flex;
	justify-content: space-between;
	flex-direction: row;
    align-items: center;
    padding: 0 20px;
	height: 100px;
	background-color: #107896;
}
 
.footer-nav li {
	font-size: .65em;	
}
.hr {
	padding-top: 1em;
	padding-bottom: 1em;
}
.full {
	display: none;
}
/* ---- Page Elements ---- */



/* ================================= 
  Media Queries tablet
==================================== */

@media (min-width: 769px) {
	
	.main-nav {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
	justify-content: space-evenly;
	background-color: rgba(0,0,0,0);
	}
.body{
	background-color: #ffffff;
}
.main {
	width: 70%;
	margin: 0 auto;
	background-color: white;
}
.wrapper {
	width: 90%;
	margin: 0 auto;
	text-align: center;
	}
.main-nav a{
	margin-top: 5px;
	background-color: rgba(0,0,0,0);
}

.banner{
	display: flex;
	flex-wrap: nowrap;
	flex-direction: row-reverse;
	justify-content: space-between;
}
.banner img {
	width: 40%;
	margin-left: .75em;
	padding-bottom: 2em;
}
.banner p {
	text-align: left;
	font-size: 1em;
	padding-left: 1.5em;
}

.container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	
}
.item {
	width: 50%;
}
h3 {
	font-size: 1em;
	font-weight: 500;
}
.item p {
	font-size: .75em;
	padding: 0 2em;
}
.contact-container{
	margin-top: 3em;
	width: 75%
}
.contact-container p{
	font-size: 1em;
}

.full {
	display: none;
}
}
/* ================================= 
  Media Queries desktop
==================================== */
@media (min-width: 1024px)

{
.wrappper {
	margin-bottom: 0;
}
.main-header,
.main-nav
{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.main-nav li {
	padding: 1em;
} 
	h1 {
	text-align: left;
	}
.banner {
	padding-bottom: 1em;
}
.banner p {
	padding-left: 3em;
	padding-right: 3em;
	line-height: 28px;
}
.portfolio
{
	padding-top: 1.5em;
}
.item {
    width: 33%;
}
}
